{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>Paguina de registros</title>
	<!--<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
</head>
<body style="background:#E6E6E6;">
	<center>
		<div class="container" style="background:#FFFFFF;">
			{%include "header.html"%}
			{%if messages%}
				{% for msg in messages %}      
					<div class="alert alert-{{msg.level_tag}}" role="alert">
						{{msg.message}}
					</div>
				{%endfor%}
			{%endif%}
			{%block contenido%}
			{%endblock%}
		</div>
	</center>
</body>
</html>